.table.align-middle td,
.table.align-middle th {
  vertical-align: middle;
}

.mark,
mark {
  padding: unset;
  background-color: gold;
}

.password-row {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.password-row .btn-generate {
  width: 15%;
  margin-right: 2px;
  padding: 0 0;
}

form#select-book {
  display: flex;
}
select.custom-select.slb-select-category {
  margin-right: 10px;
}

ul.list-picture li{
  list-style: none;
  margin-bottom: 20px;
}

p.list{
  margin-bottom: 80px;
}

select.delivery-warning {
  background-color: #ffc107;
}
select.delivery-danger {
  background-color: #dc3545;
  color: white;
}
select.delivery-success {
  background-color:#28a745 ;
  color: white;
}

