.table.align-middle td,
.table.align-middle th {
  vertical-align: middle;
}

.mark,
mark {
  padding: unset;
  background-color: gold;
}

.password-row {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.password-row .btn-generate {
  width: 15%;
  margin-right: 2px;
  padding: 0 0;
}

form#select-book {
  display: flex;
}
select.custom-select.slb-select-category {
  margin-right: 10px;
}

ul.list-picture li {
  list-style: none;
  margin-bottom: 20px;
}

p.list {
  margin-bottom: 80px;
}

select.handle-danger {
  background-color: #dc3545;
  color: white;
}
select.processing-secondary {
  background-color: #007bff;
  color: white;
}
select.delivery-warning {
  background-color: #ffc107;
  color: black;
}
select.delivery-info {
  background-color: #17a2b8;
  color: white;
}

select.delivered-success {
  background-color: #28a745;
  color: white;
}
select.cancelled-dark {
  background-color: #6c757d;
  color: white;
}

span.quantities {
  color: white;
  padding: 2px 8px;
  border-radius: 50%;
  background-color: #17a2b8;
}
span.bold-title {
  font-weight: bold;
}
