RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule		index.html 			                    index.php?module=frontend&controller=index&action=index
RewriteRule		login.html 			                    index.php?module=frontend&controller=index&action=login
RewriteRule		register.html 			                index.php?module=frontend&controller=index&action=register
RewriteRule		logout.html 			                index.php?module=frontend&controller=index&action=logout
RewriteRule		category.html 		                    index.php?module=frontend&controller=category&action=list
RewriteRule		my-account.html 	                    index.php?module=frontend&controller=user&action=index
RewriteRule		cart.html 	                            index.php?module=frontend&controller=user&action=cart
RewriteRule		change-password.html 	                index.php?module=frontend&controller=user&action=changePw
RewriteRule		history.html 	                        index.php?module=frontend&controller=user&action=orderHistory


#RewriteRule		([A-Za-z0-9_-]+)-([a-z0-9]+)\.html 		index.php?module=frontend&controller=book&action=list&category_id=$2
RewriteRule		([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)-([0-9]+)-([0-9]+)\.html 		index.php?module=frontend&controller=book&action=detail&category_id=$3&book_id=$4



RewriteRule		([A-Za-z0-9_-]+)-([a-z0-9]+)\.html(.*) 		index.php?module=frontend&controller=book&action=list&category_id=$2$3 [QSA]
